<div class="container">
  <h3>Pizza stores near {{ address }}.</h3>
  <input
    class="input-place-search"
    ngx-google-places-autocomplete
    #placesRef="ngx-places"
    (onAddressChange)="handleAddressChange($event)"
  />
  <small style="margin-bottom: 10px"
    ><a
      style="cursor: pointer; text-decoration: underline; color: brown"
      (click)="setCurrentLocation()"
      >click to use current location</a
    ></small
  >
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="10">
    <agm-marker
      *ngFor="let pizzastore of pizzaStores"
      [latitude]="pizzastore?.geometry.location.lat"
      [longitude]="pizzastore?.geometry.location.lng"
      [markerDraggable]="false"
      (markerClick)="drawDirection(pizzastore)"
    ></agm-marker>
    <agm-marker
      [latitude]="latitude"
      [longitude]="longitude"
      [markerDraggable]="false"
      [label]="Me"
    ></agm-marker>
    <agm-direction
      *ngIf="showRoute"
      [origin]="origin"
      [destination]="destination"
      [renderOptions]="renderOptions"
      [markerOptions]="markerOptions"
    >
    </agm-direction>
  </agm-map>
  <h3 *ngIf="showRoute">
    {{ currentPizzaStore.name | titlecase }}, Rating:
    {{ currentPizzaStore.rating }}, Near {{ currentPizzaStore.vicinity }},
    RatedBy:{{ currentPizzaStore.user_ratings_total }} users, Status:{{
      currentPizzaStore.business_status
    }}
    Travel-Details:{{ travelDetails.distance }},{{ travelDetails.time }}
  </h3>
</div>
