<div class="container">
  <h3>Pizza Stores NearBy ({{ address }})</h3>
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="10">
    <agm-marker
      *ngFor="let pizzastore of pizzaStores"
      [latitude]="pizzastore?.geometry.location.lat"
      [longitude]="pizzastore?.geometry.location.lng"
      [markerDraggable]="false"
      (markerClick)="drawDirection(pizzastore)"
    ></agm-marker>
    <agm-marker
      [latitude]="latitude"
      [longitude]="longitude"
      [markerDraggable]="true"
      [label]="Me"
    ></agm-marker>
    <agm-direction
      *ngIf="showRoute"
      [origin]="origin"
      [destination]="destination"
      [renderOptions]="renderOptions"
      [markerOptions]="markerOptions"
    >
    </agm-direction>
  </agm-map>
  <h3 *ngIf="showRoute">
    {{ currentPizzaStore.name | titlecase }}, Rating:
    {{ currentPizzaStore.rating }}, Near {{ currentPizzaStore.vicinity }},
  </h3>
</div>
