<div id="toolsDashboard">
  <section id="Home-section">
    <div class="banner-image"></div>
    <div class="banner-text"><b>Tools & Dashboards</b></div>
  </section>

  <br />
  <div
    class="container-fluid"
    style="
      margin-left: 10px !important;
      margin-right: 10px !important;
      max-width: 4000px;
      padding-bottom: 10px;
    "
  >
    <div class="row">
      <div class="col-lg-6">
        <div class="card text-black card-4 h-70">
          <div class="card-header"><b>Test Software & Infrastructure</b></div>
          <div class="card-body">
            <table
              cellspacing="0"
              bordercolor="#888"
              border="2"
              style="
                border-collapse: collapse;
                border-color: #888888;
                border-width: 1px;
              "
            >
              <tbody>
                <tr>
                  <td
                    style="
                      width: 280px;
                      height: 30px;
                      text-align: left;
                      vertical-align: middle;
                    "
                  >
                    <font size="2"
                      >&#160;<a
                        href="http://athena. .com/cgi-bin/TestScript/TestScriptList.py"
                        target="_blank"
                        rel="nofollow"
                        >CSP Test Software Releases</a
                      ></font
                    >
                  </td>
                  <td
                    style="
                      width: 580px;
                      text-align: left;
                      vertical-align: middle;
                    "
                  >
                    &#160;<font size="2"
                      >CSP scripts and algorithms.<br
                    /></font>
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      width: 60px;
                      height: 30px;
                      text-align: left;
                      vertical-align: middle;
                    "
                  >
                    &#160;<font size="2"
                      ><a
                        href="http://10.235.250.30/CTP/releases/"
                        target="_blank"
                        rel="nofollow"
                        >CTP Software Releases - Download Packages</a
                      ></font
                    >
                  </td>
                  <td
                    style="
                      width: 60px;
                      text-align: left;
                      vertical-align: middle;
                    "
                  >
                    &#160;<font size="2"
                      >CTP OS and library rpm releases.<br
                    /></font>
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      width: 60px;
                      height: 30px;
                      text-align: left;
                      vertical-align: middle;
                    "
                  >
                    &#160;<font size="2"
                      ><a
                        href="https://sandcastle. .com/"
                        target="_blank"
                        rel="nofollow"
                        >CSP/CTP Archive Server</a
                      ></font
                    >
                  </td>
                  <td
                    style="
                      width: 60px;
                      text-align: left;
                      vertical-align: middle;
                    "
                  >
                    &#160;<font size="2"
                      >CSP/CTP archive server to access test logs.</font
                    >
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      width: 60px;
                      height: 30px;
                      text-align: left;
                      vertical-align: middle;
                    "
                  >
                    &#160;<font size="2"
                      ><a
                        href="https://athena. .com/seaDoc/f/ECD"
                        target="_blank"
                        rel="nofollow"
                        >CSP Error Codes</a
                      ></font
                    >
                  </td>
                  <td
                    style="
                      width: 60px;
                      text-align: left;
                      vertical-align: middle;
                    "
                  >
                    &#160;<font size="2"
                      >Descriptions of all CSP error codes. Navigate to Reli
                      Docs followed by Error Codes.<br
                    /></font>
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      width: 60px;
                      height: 30px;
                      text-align: left;
                      vertical-align: middle;
                    "
                  >
                    &#160;<font size="2"
                      ><a
                        href="/sites/GMSites/kodiak/SitePages/home.aspx"
                        target="_blank"
                        rel="nofollow"
                        >Kodiak Homepage</a
                      ></font
                    >
                  </td>
                  <td
                    style="
                      width: 60px;
                      text-align: left;
                      vertical-align: middle;
                    "
                  >
                    &#160;<font size="2"
                      >Kodiak releases and user manual.<br
                    /></font>
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      width: 60px;
                      height: 30px;
                      text-align: left;
                      vertical-align: middle;
                    "
                  >
                    &#160;<font size="2"
                      ><a
                        href="http://pae. .com/ver-dashboard/releaseInfo/CTP"
                        target="_blank"
                        rel="nofollow"
                        >CTP Versions</a
                      ></font
                    >
                  </td>
                  <td
                    style="
                      width: 60px;
                      text-align: left;
                      vertical-align: middle;
                    "
                  >
                    &#160;<font size="2"
                      >View the release schedules and summary of features..<br
                    /></font>
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      width: 60px;
                      height: 30px;
                      text-align: left;
                      vertical-align: middle;
                    "
                  >
                    &#160;<font size="2"
                      ><a
                        href="https:// technology.sharepoint.com/sites/GMSites/ctpos"
                        target="_blank"
                        rel="nofollow"
                        >CTP Knowledge Base</a
                      ></font
                    >
                  </td>
                  <td
                    style="
                      width: 60px;
                      text-align: left;
                      vertical-align: middle;
                    "
                  >
                    &#160;<font size="2"
                      >CTP usage & installation guides and other information.<br
                    /></font>
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      width: 60px;
                      height: 30px;
                      text-align: left;
                      vertical-align: middle;
                    "
                  >
                    &#160;<font size="2"
                      ><a
                        (click)="viewCustomChart()"
                        rel="nofollow"
                        style="color: #0275d8"
                        >CTP Infrastructure</a
                      ></font
                    >
                  </td>
                  <td
                    style="
                      width: 60px;
                      text-align: left;
                      vertical-align: middle;
                    "
                  >
                    &#160;<font size="2"
                      >Lucidchart of infrastructure building blocks<br
                    /></font>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card text-black card-4 h-30">
          <div class="card-header"><b>Test Software Requests</b></div>
          <div class="card-body">
            <table
              cellspacing="0"
              bordercolor="#888"
              border="2"
              style="
                border-collapse: collapse;
                border-color: #888888;
                border-width: 1px;
              "
            >
              <tbody>
                <tr>
                  <td
                    style="
                      width: 280px;
                      height: 30px;
                      text-align: left;
                      vertical-align: middle;
                    "
                  >
                    <font size="2"
                      >&#160;<a
                        href="https://jira. .com/jira/secure/CreateIssue.jspa?pid=10300&issuetype=2"
                        target="_blank"
                        rel="nofollow"
                        >CSP Script Requests - JIRA</a
                      ></font
                    >
                  </td>
                  <td
                    style="
                      width: 580px;
                      text-align: left;
                      vertical-align: middle;
                    "
                  >
                    &#160;<font size="2"
                      >Link for creating a JIRA CSP script request.<br
                    /></font>
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      width: 280px;
                      height: 30px;
                      text-align: left;
                      vertical-align: middle;
                    "
                  >
                    <font size="2"
                      >&#160;<a
                        href="https://jts. .com/jira/secure/CreateIssue.jspa?pid=16887&issuetype=2"
                        target="_blank"
                        rel="nofollow"
                        >CTP Requests - JTS</a
                      ></font
                    >
                  </td>
                  <td
                    style="
                      width: 580px;
                      text-align: left;
                      vertical-align: middle;
                    "
                  >
                    &#160;<font size="2"
                      >Link for creating a JIRA CTP script request.<br
                    /></font>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row" style="padding-top: 10px !important">
          <div class="col-12">
            <div class="card text-black card-4 h-100">
              <div class="card-header"><b>Dashboards & Portals</b></div>
              <div class="card-body">
                <table
                  cellspacing="0"
                  bordercolor="#888"
                  border="2"
                  style="
                    border-collapse: collapse;
                    border-color: #888888;
                    border-width: 1px;
                  "
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          width: 280px;
                          height: 30px;
                          text-align: left;
                          vertical-align: middle;
                        "
                      >
                        <font size="2"
                          >&#160;<a
                            href="https://pae. .com/product-status-dashboard"
                            target="_blank"
                            rel="nofollow"
                            >Systems - Product Assurance Statuses</a
                          ></font
                        >
                      </td>
                      <td
                        style="
                          width: 580px;
                          text-align: left;
                          vertical-align: middle;
                        "
                      >
                        &#160;<font size="2"
                          >Dashboard of program statuses for Systems
                          products.<br
                        /></font>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          width: 280px;
                          height: 30px;
                          text-align: left;
                          vertical-align: middle;
                        "
                      >
                        <font size="2"
                          >&#160;<a
                            href="/ver-dashboard"
                            target="_blank"
                            rel="nofollow"
                            >Version Dashboard</a
                          ></font
                        >
                      </td>
                      <td
                        style="
                          width: 580px;
                          text-align: left;
                          vertical-align: middle;
                        "
                      >
                        &#160;<font size="2"
                          >View the release schedules for projects/programs
                          tracked via JTS.<br
                        /></font>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          width: 280px;
                          height: 30px;
                          text-align: left;
                          vertical-align: middle;
                        "
                      >
                        <font size="2"
                          >&#160;<a
                            href="https://coeportal.pun. .com/eit/coe-portal/index.php"
                            target="_blank"
                            rel="nofollow"
                            >Certification Portal</a
                          ></font
                        >
                      </td>
                      <td
                        style="
                          width: 580px;
                          text-align: left;
                          vertical-align: middle;
                        "
                      >
                        &#160;<font size="2"
                          >View open requests & submit new requests.<br
                        /></font>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          width: 280px;
                          height: 30px;
                          text-align: left;
                          vertical-align: middle;
                        "
                      >
                        <font size="2"
                          >&#160;<a
                            href="/compliance-portal"
                            target="_blank"
                            rel="nofollow"
                            >Compliance Portal</a
                          ></font
                        >
                      </td>
                      <td
                        style="
                          width: 580px;
                          text-align: left;
                          vertical-align: middle;
                        "
                      >
                        &#160;<font size="2"
                          >One stop portal for all compliance related
                          information.<br
                        /></font>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="row"
        style="padding-top: 10px !important; margin-left: 1px !important"
      >
        <div class="col-8">
          <div class="card text-black card-4 h-100">
            <div class="card-header"><b>Reporting & Analytic Tools</b></div>
            <div class="card-body">
              <table
                cellspacing="0"
                bordercolor="#888"
                border="2"
                style="
                  border-collapse: collapse;
                  border-color: #888888;
                  border-width: 1px;
                "
              >
                <tbody>
                  <tr>
                    <td
                      style="
                        width: 280px;
                        height: 30px;
                        text-align: left;
                        vertical-align: middle;
                      "
                    >
                      <font size="2"
                        >&#160;<a
                          href="http://loki.reli.colo. .com/"
                          target="_blank"
                          rel="nofollow"
                          >Drive Loki</a
                        ></font
                      >
                    </td>
                    <td
                      style="
                        width: 580px;
                        text-align: left;
                        vertical-align: middle;
                      "
                    >
                      &#160;<font size="2"
                        >Drive Lab Equipment Dashboard.<br
                      /></font>
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="
                        width: 280px;
                        height: 30px;
                        text-align: left;
                        vertical-align: middle;
                      "
                    >
                      <font size="2"
                        >&#160;<a
                          href="http://gemsloki. .com/list"
                          target="_blank"
                          rel="nofollow"
                          >Systems Loki</a
                        ></font
                      >
                    </td>
                    <td
                      style="
                        width: 580px;
                        text-align: left;
                        vertical-align: middle;
                      "
                    >
                      &#160;<font size="2"
                        >Systems Lab Equipment Dashboard (BETA).<br
                      /></font>
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="
                        width: 280px;
                        height: 30px;
                        text-align: left;
                        vertical-align: middle;
                      "
                    >
                      <font size="2"
                        >&#160;<a
                          href="/live-dashboard"
                          target="_blank"
                          rel="nofollow"
                          >Systems Live Dashboard</a
                        ></font
                      >
                    </td>
                    <td
                      style="
                        width: 580px;
                        text-align: left;
                        vertical-align: middle;
                      "
                    >
                      &#160;<font size="2"
                        >View product performance over entire life cycle -
                        Currently includes Reli Data support for AP & JBOD.<br
                      /></font>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
<footer class="panel-group py-1 footer" id="ld-footer">
    <div class="panel panel-default mb-1">
        <h4 class="panel-title footer-text">
            <a href="#contactInfo" id='contact' data-toggle="collapse" data-parent="#ld-footer">Contact us</a>
        </h4>

    </div>
    <div id="contactInfo" class="panel-collapse collapse" style='background: black;'>
        <div class="panel-body mb-3">
            <h6 style='color: rgb(85, 206, 85);'>For any queries or suggesations please contact:</h6>

            <small>Siha Lawrence (<a
                    href="mailto:siha.lawrence@ .com?subject = Feedback&body = Message">siha.lawrence@ .com</a>)</small>
            </div>
    </div>
</footer>-->
</div>
